@font-face {
	font-family: 'Helvetica';
	src: url('./assets/fonts/HelveticaNeue.woff2') format('woff2'),
		url('./assets/fonts/HelveticaNeue.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: Helvetica, sans-serif;
	color: #a2abbd;
	background-color: #21212b;
	display: flex;
	align-items: center;
	justify-content: center;
}
* {
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
img {
	margin: 0;
}
img {
	width: 100%;
	height: auto;
}
::-webkit-scrollbar {
	display: none;
}
